<div class="footerBlock">
    <a href="https://www.facebook.com" target="blank"><img src="/images/FB-icon.png"/></a>
    <a href="https://www.twitter.com" target="blank"><img src="/images/TW-icon.png"/></a>
    <a href="https://www.instagram.com" target="blank"><img src="/images/IG-icon.png"/></a>
</div>